<ion-view   title="Carpool Map">
    <ion-content>

        <div id="map" data-tap-disabled="true"></div>
        <!--    <ui-gmap-google-map center='map.center' zoom='map.zoom' options="options" bounds="map.bounds">
            <ui-gmap-markers models="markers" coords="'self '" >
            </ui-gmap-markers>
        </ui-gmap-google-map>

        <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options" bounds="map.bounds">
            <ui-gmap-markers models="randomMarkers" coords="'self'" icon="'icon'">
            </ui-gmap-markers>
        </ui-gmap-google-map> -->
    </ion-content>
    <ion-footer-bar class="item-input-inset">

        <div class="button-bar">
            <button class="button button-stable button-block" ng-click="clearWatch()">Stop Ride</button>
        </div>

    </ion-footer-bar>
</ion-view>