<ion-view view-title="Carpool Messaging">
    <ion-content>
        <ion-list>
            <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="message in MessageList" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
                <img ng-src="{{message.FromCustomerGravtarURL}}">
                <h2>{{message.FromCustomerDisplayName}}</h2>
                <p>{{message.MessageContent}}</p>
                <i class="icon ion-chevron-right icon-accessory"></i>
                <ion-option-button class="button-assertive" ng-click="remove(message)">
                    Delete
                </ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
    
    <ion-footer-bar align-title="left" class="item-input-inset">
       
            <label class="item-input-wrapper" id="search-input">
                <input type="text" placeholder="Enter Message" data-ng-model="data.text">
            </label>
        <button class="ion-android-send" ng-click="sendCarpoolMessage()"> </button>
       

    </ion-footer-bar>

</ion-view>