<ion-view title="Expenses" cache-view="false" >
    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-plus-round" ng-click="gotoexpense()"></button>       

    </ion-nav-buttons>
    <ion-content>
        <ion-list>                                                                                              
            <ion-item ng-repeat="expense in data.expenses" type="item-text-wrap" ng-click="gotoEditExpense({{expense}})" >
                
                 <h2>{{expense.ExpenseType}}</h2>
                <p >Spender : {{expense.Spender.DisplayName}}</p>
                <p >Amount: {{expense.ExpenseAmount}}</p>
                <p> Date: {{expense.ExpenseDate | date:'longDate'}}</p>
                <p> Description: {{expense.ExpenseDescription}}</p>
               
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>