   <ion-popover-view  >
                
      
       <div class="item item-text-wrap text-center">
           You can just start a video consultation with the first available doctor! <br />
           <a  class="button  rounded" ng-class="'button-positive'" href="#/tab/search/videochatsubscriberNew/NA/%20/Pool"><i class="icon ion-ios-videocam"> See a Doc! </i></a>

       </div>

       <div class="text-center">
         <h4>OR</h4>
       </div>

        <div class="item item-text-wrap">
           You can select a doctor from the list or map and can start a video-consultation by selecting the <i class="ion-ios-videocam"> </i> icon or book an appointment by selecting the  <i class="icon ion-calendar"> </i> icon. You can change the search criteria by selecting the <b>Show Search Criteria</b> bar (<i class="ion-plus"> </i>).

</div>
         
       <div class="button-bar">
           <a class="button " ng-click="closePopover()">Ok. Got It!</a>
       </div>
</ion-popover-view>