<ion-view view-title="Video Encounter" hide-tabs hide-back-button="true" cache-view="false">
          <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-navicon" ng-click="showPrescriptionPopOver($event)">Rx Open</button>
            </ion-nav-buttons>
         <ion-content>
             <div button-bar-inline>
                 <button id="hangup"class="button  button-block rounded" ng-class="'button-positive'" ><i class="icon ion-ios-videocam"> Hang Up </i></button>

             </div>
           <div  class="remote" id="myRemoteVideo" class="subscriber-video" >             
                
            </div>
           <video  id="myMiniVideo" autoplay="autoplay"  muted="true" class="publisher-video"> </video>


    </ion-content>
</ion-view>

