<ion-view title='<img class="title-image" src="img/icon-40.png" />'  cache-view="false" hide-back-button="true" >

    <ion-content class="padding">
        <div class="list card">
            <div class="item item-divider">Video Call Confirmation</div>
              
              <p> Do you want to talk to this patient </p>   
         
            <div class="button-bar">
                    <button id="btnValidatePatientTalk" type="button"   ng-click="gotoVideoSession()" class="button button-positive button-block">Talk To the Patient</button>
                  <a href="doc://doctoroncalljamaica.com/videoDeepLinkSessions/{{videSessionID}}" class="button button-outline button-positive">fes</a>
                
                </div>
           
            </div>
        
</ion-content>
</ion-view> 




        
      
  
