<ion-view view-title="Video Encounter" cache-view="false">
    <ion-content>
        <!--<p>Publisher:</p>
        <div  id="publisher"></div>
        <p>Subscriber:</p>
        <div  id="subscriber"></div>-->
       
             <div  id="subscriber" class="subscriber-video" >
                 <div>
                 <h3> Please wait. We are are reaching out to the provider to join </h3>
                 <div>
            </div>
             <div id="publisher" class="publisher-video" >
                
             </div>
       
    </ion-content>
</ion-view>
