<div class="card">
    <div class="item item-divider">
        <!--<table>
            <tr>
                <td valign="bottom">
                    <div class="buttons">
                        <button type="button" class="button button-icon icon ion-ios-minus-outline"
                                ng-click="data.showDelete = !data.showDelete;"></button>
                        <button type="button" class="button button-icon icon ion-ios-plus-outline" ng-click="newContact()"> </button>

                    </div>
                </td>
            </tr>
        </table>-->
        <div class="item item-divider">
           Carpool Members
        </div>
    </div>

    <ion-list  >

        <ion-item ng-repeat="member in carpool.CarpoolMembers track by $index" item="member">

            {{member.DisplayName}}-{{member.MobileNumber}}

          


        </ion-item>


    </ion-list>
    
</div>