<div class="card">
    <div class="item item-divider">
        Days of Week
    </div>   
   <!--<div class="list" >
        <ion-toggle ng-disabled="true" ng-model="carpool.Sunday" toggle-class="toggle-calm" ng-checked="carpool.Sunday">Sunday</ion-toggle>
        <ion-toggle ng-disabled="true" ng-model="carpool.Monday" toggle-class="toggle-calm" ng-checked="carpool.Monday">Monday</ion-toggle>
        <ion-toggle ng-disabled="true" ng-model="carpool.Tuesday" toggle-class="toggle-calm" ng-checked="carpool.Tuesday">Tuesday</ion-toggle>
        <ion-toggle ng-disabled="true" ng-model="carpool.Wednesday" toggle-class="toggle-calm" ng-checked="carpool.Wednesday">Wednesday</ion-toggle>
        <ion-toggle ng-disabled="true" ng-model="carpool.Thursday" toggle-class="toggle-calm" ng-checked="carpool.Thursday">Thursday</ion-toggle>
        <ion-toggle ng-disabled="true" ng-model="carpool.Friday" toggle-class="toggle-calm" ng-checked="carpool.Thursday">Friday</ion-toggle>
        <ion-toggle ng-disabled="true" ng-model="carpool.Saturday" toggle-class="toggle-calm" ng-checked="carpool.Saturday">Saturday</ion-toggle>

    </div>--> 
    <div class="list">

        <div class="row row row-center">
            <div class="col">
                <ion-toggle ng-disabled="true" ng-model="carpool.Sunday" toggle-class="toggle-calm" ng-checked="carpool.Sunday">Sun</ion-toggle>
            </div>
            <div class="col">
                <ion-toggle ng-disabled="true" ng-model="carpool.Monday" toggle-class="toggle-calm" ng-checked="carpool.Monday">Mon</ion-toggle>
            </div>
        </div>
        <div class="row row row-center">
            <div class="col">
                <ion-toggle  ng-disabled="true" ng-model="carpool.Tuesday" toggle-class="toggle-calm" ng-checked="carpool.Tuesday">Tue</ion-toggle>

            </div>
            <div class="col">
                <ion-toggle ng-disabled="true" ng-model="carpool.Wednesday" toggle-class="toggle-calm" ng-checked="carpool.Wednesday">Wed</ion-toggle>

            </div>
        </div>
        <div class="row row row-center">
            <div class="col">
                <ion-toggle ng-disabled="true" ng-model="carpool.Thursday" toggle-class="toggle-calm" ng-checked="carpool.Thursday">Thu</ion-toggle>

            </div>
            <div class="col">
                <ion-toggle ng-disabled="true" ng-model="carpool.Friday" toggle-class="toggle-calm" ng-checked="carpool.Thursday">Fri</ion-toggle>

            </div>
        </div>
        <div class="row row row-center">
            <div class="col col-center">
                <ion-toggle ng-disabled="true" ng-model="carpool.Saturday" toggle-class="toggle-calm" ng-checked="carpool.Saturday">Sat</ion-toggle>
                 
            </div>
            <div class="col col-center">

            </div>
        </div>


    </div>
</div>
